/* 
    JonhDuranM y RODX
    proyect - FrontEnd -2 
    E-commerce AluraGeek 
    
    Document - css Structure
*/

:root{
    --colorBaseDark: #1f1f1f ;
    --colorBaseLight: #ffffff ;
    --colorBlue-1:#2A7AE4 ;
    --colorBlue-2: #EAF2FD;

    --font:'Source Sans Pro', sans-serif;
    --weighttitles: 600;
    --weightsubtitles: 300;
    --weightbody: 400;
}

/* structure */
a{
    text-decoration: none;
}


.footer{
    background-color: var(--colorBlue-2);


    display: flexbox;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
