/*   
    JonhDuranM y RODX
    proyect - FrontEnd -2 
    E-commerce AluraGeek 
*/

:root{

    /* colors */
    --ColorBaseDark: #464646;
    --colorBaseMedium: #5f5f5f;
    --colorBaselight: #f5f5f5;
    --colorBaseLight-2: #e5e5e5;

    --colorPrimary: #2A7AE4;
    --colorSecondary: #EAF2FD; 


    /* defaults */
    
    --input-button-SizeH: 40px;
    --font:'Source Sans Pro', sans-serif;
    --fontW-Title1: 3rem;
    --fontW-Title2: 2rem;
    --fontW-Subtitles: 1.5rem;
}

body{
    background-color: #E5E5E5;
    color: var(--colorBaseMedium);
    font-family: var(--font);
    height: 100%;
}
.link{
    text-decoration: none;
    color: var(--colorBaseMedium);
}

.defaultInput, .defaultButton{
    height: var(--input-button-SizeH);
    border: none;
}