.footer{
    display: flex;
    background-color: var(--colorSecondary);
    justify-content: space-evenly;
    padding: 4rem 0;
}

.infoFooterlogo{
    width: 15%;
}

.infoFooterlogo img {
    width: 100%;
}

.listPagesFooter{
    width: 20%;
    display: flex;
}

.page{
    padding: 0.8rem 0;
}

.formFooter{
    color: var(--ColorBasemedium);
}

.legendFormFooter{
    color: #575757;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.formName{
    width: 100%;
    background-color: white;
    border: #575757 solid 1px;
    padding: 0 0.5rem;
}

.label-defaultInput{
    padding-left: 1rem;
    color: #9e9d9d;
}

.defaultInput{
    border:none ;
    width: 97%;
    padding: 0.5rem;
    outline: none;
}

 .menssageFormFooter{
    width: 100%;
    height: 80px;
    padding: 0.5rem;
    font-family: var(--font);
    margin-top: 0.8rem;
    outline: none;
    resize: none;
}

.button-submit{
    width: 40%;
    height: 50px;
    color: white;
    background-color: var(--colorPrimary);
    margin-top: 1rem;
}

.barBottom {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}

.barBottomText{
    color: var(--colorBaseMedium);
    font-size: 1.25rem ;

    display: flex;
    justify-content: center;
    align-items: center;
}

.link-JonhDuranM, .link-RODX{
    margin: 2rem;
}

.profile { 
    display: flex;
    width: 70px;
    border-radius: 100%;
}